streamlit>=1.41.0
pandas>=2.2.0
numpy>=1.26.0
# Use headless to avoid libGL.so.1 dependency issues
opencv-python-headless==4.9.0.80
pillow>=11.0.0
git+https://github.com/bowespublishing/streamlit-drawable-canvas.git
# By listing ultralytics, it will use the headless version already installed
ultralytics
yt-dlp
supervision>=0.28.0
